@model SDKolej.Business.DTOs.DocumentDto

@{
    ViewData["Title"] = "Document Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Document Details</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Title)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Title)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FilePath)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.FilePath)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DocumentType)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.DocumentType)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UploadDate)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.UploadDate)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UploadedBy)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.UploadedBy)</dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 